<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.mino.mdiary.repository.UserRepository">

    <sql id="BASE_COLUMN">
        id as id,
        username as username,
        password as password,
        nickname as nickname,
        avatar as avatar,
        create_time as createTime,
        update_time as updateTime,
        is_deleted as isDeleted
    </sql>

    <insert id="insertUser" parameterType="com.mino.mdiary.entity.User" useGeneratedKeys="true" keyColumn="id">
        INSERT INTO user
        <trim prefix="SET" suffixOverrides=",">
            <if test="username != null">
                username = #{username},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="nickname != null">
                nickname = #{nickname},
            </if>
            <if test="avatar != null">
                avatar = #{avatar},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="isDeleted != null">
                 is_deleted = #{isDeleted}
            </if>
        </trim>
    </insert>

    <select id="getUserByUsername" parameterType="java.lang.String" resultType="com.mino.mdiary.entity.User">
        SELECT <include refid="BASE_COLUMN"/>
        FROM USER
        WHERE username = #{username}
    </select>
</mapper>